body{
    background-attachment: fixed;
    background-size: cover;
    background-image: url("https://wallpapercave.com/wp/wp6884843.jpg");
    text-align: center;
    justify-content: center;
    align-items: center;
}
h1{
    color:rgb(18, 73, 211);
    font-style: italic;
    background: linear-gradient(45deg, #7ac5d2, #8564f1);
    border-radius: 30px;
}
.v{
    color:rgb(87, 51, 216);
    background: linear-gradient(45deg, #50d3eb, #57bae8);
    font-style: italic;
    border-radius: 30px;
}
img{
    height: 250px;
    width: 300px;
    border-radius: 20px 20px 30px 40px; /* Set the height of the box */
    background-color: #6ab4e6; /* Set the background color */
    border: 2px solid #56a7dd; /* Set the border with color */
    padding: 20px; /* Optional: Add padding inside the box */
    background: linear-gradient(45deg, #50d3eb, #1296d2);
    margin: 20px; 
    border-radius: 50%;
}
.t{
    align-items: center;
    color: rgb(26, 69, 99);
    background-color: #6ab4e6; /* Set the background color */
    border: 2px solid #56a7dd; /* Set the border with color */
    border-radius: 20px 20px 30px 40px; /* Optional: Add border-radius for rounded corners */
    padding: 30px; /* Optional: Add padding inside the box */
    background: linear-gradient(45deg, #8ee5f4, #91d3f1);
    margin: 10px;
    position: relative; /* Set the position property to enable positioning */
    top: 10px; /* Move the box 50px down from the top */
    bottom: 270px;
    width: 500px;
    left: 50px;
    height: 250px;
}
.t1{
    align-items: center;
    color: rgb(26, 69, 99);
    background-color: #6ab4e6; /* Set the background color */
    border: 2px solid #56a7dd; /* Set the border with color */
    border-radius: 20px 20px 30px 40px; /* Optional: Add border-radius for rounded corners */
    padding: 30px; /* Optional: Add padding inside the box */
    background: linear-gradient(45deg, #6683e1, #91d3f1);
    margin: 10px;
    position: relative; /* Set the position property to enable positioning */
    height: 170px;
   
}
.t2{
    align-items: center;
    color: rgb(26, 69, 99);
    background-color: #6ab4e6; /* Set the background color */
    border: 2px solid #56a7dd; /* Set the border with color */
    border-radius: 20px 20px 30px 40px; /* Optional: Add border-radius for rounded corners */
    padding: 30px; /* Optional: Add padding inside the box */
    margin: 10px;
    position: relative; /* Set the position property to enable positioning */
    width: 500px;
    background: linear-gradient(45deg, #8ee5f4, #91d3f1);
    height: 250px;
    bottom: 310px;
    /* Initial position */
    margin-left: 0;
  /* Add a class to move the box to the right */
    margin-left: 900px; /* Adjust the value as needed */
}
.j{
    color: rgb(33, 51, 103);
}
.t3{
    align-items: center;
    color: rgb(26, 69, 99);
    background-color: #6ab4e6; /* Set the background color */
    border: 2px solid #56a7dd; /* Set the border with color */
    border-radius: 20px 20px 30px 40px; /* Optional: Add border-radius for rounded corners */
    padding: 30px; /* Optional: Add padding inside the box */
    background: linear-gradient(45deg, #6683e1, #91d3f1);
    margin: 10px;
    position: relative; /* Set the position property to enable positioning */
}
